<!-- Child to Parent Data Flow (@View Child) -->


<p>posts-list works!</p>
<!-- <h2>{{postListTitle}}  (Post List)</h2>
<p>{{postIsLogin}}</p> -->
<!-- <button (click)="sendMessage()">Send Message to Parent</button> -->

<!-- <app-card>
    <h2>Blog Post Title 1</h2>
    <p>04/08/24</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima, natus, </p>

</app-card> -->

<!-- angular services -->
 <h1>{{childUser | json}}</h1>

 
<app-user>
  
 </app-user>

 <h1>{{userService.users | json}}</h1>