<!-- <app-navbar></app-navbar> -->
<!-- <app-header></app-header> -->

<!-- <h1>First Angular App</h1> -->

<!-- <h2> {{title}} </h2> string interpolation (text) -->
<!-- <p>{{1+1}}</p> string interpolation (number) -->
<!-- <img [src]="imgURL" alt="freaky ah emoji"> property binding -->

<!-- string interpolation vs property binding -->
 <!-- <button disabled="{{isDisabled}}">disable w/ string interpolation</button> -->
 <!-- <button [disabled]="isDisabled">disable w/ property binding</button> -->

<!-- class binding -->
<!-- <button [class.active]="isActive" [class.no-active]="!isActive">Click Me</button> -->

<!-- style binding  -->
 <!-- <button [class.apple]="fruitName == 'Apple'">Fruit Ninja!</button> -->
 
 <!-- <button 
 [style.background]="isActive?'red' : 'green' "
 [style.border]="isActive? '3px solid yellow' : '' "
 >Click</button> -->


 <!-- event binding -->
<!-- <button (click)="buttonClick()">Click me</button> -->

<!-- <button (keyup)="buttonClick()">Click me</button>
<input type="text" (keyup)="keyEnter()"> -->

<!-- Event Filtering I -->
 <!-- <button (mouseover)="buttonClick()">Click me</button> -->
<!-- <input type="text" (keyup)="keyEnter($event)"> -->


<!-- Event Filtering II -->
<!-- <input type="text" (keyup.enter)="keyupFiltering()"> -->

<!-- Template Variable -->
<!-- <input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput"> -->

<!-- Two Way Data Binding I -->
<!-- <input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)"> -->

<!-- Two Way Data Binding II -->
<!-- <input type="text" [(ngModel)]="userName"  > -->
<!-- <h3>{{userName}}</h3> -->

<!-- <input type="text" [value]='textValue' (keyup.enter)="onKeyup()"> -->

<!-- <input type="text" [(ngModel)]='textValue' (keyup.enter)="onKeyup()"> -->


<!-- old NgIF Directive -->
 <!-- first use string interpolation to grab the username from app.component.ts -->
<!-- <h2 *ngIf="isLoggedIn; else message" >{{userName}}</h2>

<h4 *ngIf="!isLoggedIn"> User is not logged in </h4>

<ng-template #message>
  <h4> User is not logged in (Loaded using ng-template) </h4>
</ng-template> -->


<!-- new NgIF Directive -->
<!-- @if(isLoggedIn){
  <h3>{{userName}}</h3>
}
@else {
  <h3>User is not logged in (loaded if using else block)</h3>
}

@if(!isLoggedIn){
 <h4>User is not logged in (loaded if using syntax block)</h4>
} -->


<!-- Multiple Conditions I NgIf (not the best practice in the real world: slow and not good at scale)-->
<!-- <h4 *ngIf="isAdmin">Welcome Admin</h4>

<h4 *ngIf="isMember">Welcome Member</h4>

<h4 *ngIf="isGuest">Welcome Guest</h4> -->

<!-- ngIf and Else Approach -->
<!-- <h4 *ngIf="isAdmin; else memberMessage">Welcome Admin</h4>

<ng-template #memberMessage>
  <h4 *ngIf="isMember; else guestMessage">Welcome Member</h4>
</ng-template>

<ng-template #guestMessage>
  <h4 *ngIf="isGuest">Welcome Guest</h4>
</ng-template> -->

<!-- @if, @else syntax approach -->

<!-- @if(isAdmin){
  <h4>Welcome Admin</h4>
}
@else if(isMember) {
  <h4>Welcome Member</h4>
}
@else {
  <h4>Welcome Guest</h4>
} -->

<!-- if directives with Number Values -->
<!-- <button (click)="countLoginAttempts()" *ngIf="loginCount <= 3">Log In</button>
<h4 *ngIf="loginCount > 3">Exceeded 3 login Attempts, Try again later</h4>

@if(loginCount <= 3){
  <button (click)="countLoginAttempts()">Login Syntax</button>
}

@if(loginCount > 3){
<h4>Exceeded 3 login attemps, try again later</h4>
} -->

<!-- if directives with String Values -->
 <!-- <h4 *ngIf="userRole == 'Admin'; else memberMessage">Welcome Admin</h4>

 <ng-template #memberMessage>
  <h4>Welcome Member</h4>
 </ng-template>

 @if(userRole == 'Admin'){
  <h4>Welcome Admin</h4>
 }
 @else if (userRole == 'Member') {
  <h4>Welcome Member</h4>
 }
 @else {
  <h4>Welcome Guest</h4>
 } -->


 <!-- ng-template directive -->
<!-- <ng-template #callToAction>
  <p>Call to Action</p>
 <button>Join Now</button>
</ng-template>

 <div [ngTemplateOutlet]="callToAction"> <h5>Sidebar</h5></div>
  <div [ngTemplateOutlet]="callToAction"> <h5>Hero</h5></div>
   <div [ngTemplateOutlet]="callToAction"> <h5>Footer</h5></div> -->

<!-- Ng for directive -->
<!-- <h3>{{users[0]}}</h3>
<h3>{{users[1]}}</h3>
<h3>{{users[2]}}</h3>
<h3>{{users[3]}}</h3>

<h3 *ngFor="let user of users">{{user}}</h3>

@for (user of users; track user) {
  <h3>{{user}} - Loaded using for syntax block</h3>
}

<ul>
  <li *ngFor="let user of users">{{user}}</li>
</ul>


<ul>
@for (user of users; track user) {
    <li>{{user}}</li>
}
</ul> -->


<!-- fetch array objects -->

<!-- <div>
  <p *ngIf="usersObj.length == 0">No Users to Display</p>
</div> -->

<!-- <ul>
<li *ngFor="let user of usersObj; let i = index; let usersCount = count">
  {{usersCount}} - {{i}} {{user.name}} 
  <button (click)="onDelete(user)">Delete</button></li>
</ul>

@if(usersObj.length == 0){
  <p>No Users to Display - Loaded Using Syntax</p>
}

<ul>
@for (user of usersObj; track user; let i = $index; let usersCount = $count; let first = $first; let last = $last; let even = $even; let odd = $odd) {
  <li>{{odd}} {{usersCount}} - {{i}} {{user.name}} <button (click)="onDelete(i)">Delete</button></li>
}

@empty {
  <p>No Users to Display - Loaded using Empty Syntax</p>
}
</ul> -->


  

<!-- change detection -->
 <!-- <button (click)="addNewUser()">Add New User</button> -->

 <!-- NgSwitchCase -->
  <!-- <div [ngSwitch]="userRole">
    <p *ngSwitchCase="'Admin'">Welcome Admin</p>
    <p *ngSwitchCase="'Member'">Welcome Member</p>
    <p *ngSwitchCase="'Editor'">Welcome Editor</p>

    <p *ngSwitchDefault>Please Login</p>
  </div> -->

<!-- <div>
  @switch (userRole) {
    @case ('Admin') {
      <p>Welcome Admin</p>
    }
    @case ('Member') {
      <p>Welcome Member</p>
    }
    @case ('Editor') {
      <p>Welcome Editor</p>
    }
    @default {
      <p>Please Login</p>
    }
  }
</div> -->


<!-- ngStyle Directive -->
<!-- <h1 [style.color]="isLoggedIn? 'green':'red'" [style.textTransform]="isLoggedIn? 'uppercase':'lowercase'">Welcome Admin</h1>

<h1 [ngStyle]="{ 
  'color': isLoggedIn? 'green':'red', 
  'textTransform': isLoggedIn? 'uppercase':'lowercase'
}">Ng Style Directive</h1> -->

<!-- ngClass Directive -->
<!-- <h1 [class.login]="isLoggedIn" [class.logout]="!isLoggedIn">Class Binding</h1>

<h1 [ngClass]="{ 
  'login': isLoggedIn,
  'logout': !isLoggedIn,
}">Ng Class Directive</h1> -->

<!-- Parent and Chil Data Flow (post list component | ng g c post-lists) -->
<!-- <h1>{{appPostTitle}} (App)</h1> -->
<!-- <app-posts-list [postListTitle]="appPostTitle" [postIsLogin]="appIsLogin"></app-posts-list> -->

<!-- Child to Parent Data Flow (@View Child) -->
<!-- <app-posts-list (MessageEvent)="reciveMessage($event)"></app-posts-list>
<p>{{message}}</p>
<p>{{ messageFromChild }}</p> -->

<!-- ng content Content Projection | ng g c card -->

<!-- <app-posts-list></app-posts-list>
<app-card>
  <h2>John Doe</h2>
  <p>01/08/24</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima, natus, </p>
</app-card> -->

<!-- <app-posts-list></app-posts-list> -->

<!-- <app-card>
  <span header>username</span>
  <h1 body>John Doe</h1>
  <button footer>View Profile</button>
</app-card> -->

<!-- Angular LifeCycle Hooks -->
 <!-- remderomg components programatically -->
<!-- <app-posts-list></app-posts-list>
<div *ngComponentOutlet="loadComponent()"></div> -->

<!-- <button (click)="loadComponent()">Create Component</button>
<button (click)="removeComponent()">Remove Component</button> -->

<!-- NgOnChanges LifeCycle Hook - called everytime an input property changes -->
 <!-- <app-profile [pUserName]="username"></app-profile>
<button (click)="changeUser()">Change Username</button> -->


<!-- NgOnInit Lifecycle Hook - called when component is init - good for init components, api calls, complex setups. called only once -->
 <!-- uses OnInit angular import in component.ts file must implement OnInit for the component export method and init a ngOnInit function -->

 <!-- OnInit Constructor -->
  <!-- this is a typescript feature and not really a angular feature -->
 <app-profile [pUserName]="username"></app-profile>
<button (click)="changeUser()">Change Username</button>

<!-- NgDoCheck | called during every change detection run | custom change detection, complex objects, performance monitoring -->
 